@media (max-width: 376px) {
    .center {
        padding-left: calc(50% - 172px);
        padding-right: calc(50% - 172px);
    }

    .top {
        height: 735px;
        background-image: url(img/Rectangle\ 1\ mob.jpg);
        background-size: 100%;
    }

    .title {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .title__main {
        font-size: 32px;
        line-height: 39px;
        padding-top: 239px;
        text-align: center;
    }

    .title__text {
        width: 343px;
        font-size: 14px;
        line-height: 22px;
        margin-top: 33px;
        text-align: center;
    }

    .content {
        flex-direction: column;
        margin-top: 64px;
    }

    .heading-img {
        width: 344px;
    }

    .heading {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
    }

    .product {
        height: 654px;
        margin-top: 136px;
    }

    .product-mob {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .product-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-box {
        justify-content: flex-start;
        margin-top: 142px;
    }
}


    @media (max-width: 375px) {

        .content__item {
            box-sizing: border-box;
            width: 343px;
            height: 300px;
        }
    }