* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

body {
  font-family: "Montserrat", sans-serif;
  background: #000915;
}

.top {
  height: 1024px;
  background-image: url(img/Rectangle\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title__main {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  padding-top: 217px;
}

.title__text {
  display: block;
  width: 481px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 32px;
  margin-bottom: 44px;
}

.title__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 234px;
  height: 48px;
  background: #9C0332;
  border-radius: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;

  transition: all 0.3s;

  &:hover {
    background: #EB443F;
    transform: scale(1.05);
  }
}

.content {
  min-height: 556px;
  background: #000915;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 128px;
  gap: 32px;
}

.content__item {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  width: 379px;
  height: 300px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0023.jpg);
  border-radius: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-size: cover;
  flex-wrap: nowrap;
  background-size: cover;
  padding-left: 32px;
  padding-bottom: 32px;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #44D2FF;
  }
}

.content__item_1 {
  background-image: url(img/Rectangle\ 6.svg);
}

.content__item_2 {
  background-image: url(img/Rectangle\ 7.svg);
}

.content__item_3 {
  background-image: url(img/Rectangle\ 8.svg);
}

.heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}

.product {
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product-box {
  height: 800px;
  background-image: url(img/mhDEY.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

@import "mobile hw2";